#main {
    background-color: bisque;
    margin: 10px 50px;
}
#nav-bar{
    position: fixed;
    padding: 15px;
    margin: 15px 5px;
}
#nav-link{
    text-align: center;
}
#header-img{
    align-self: auto;
    position: absolute;
}

.flex-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
  }

.item {
    order: 0;
    align-self: auto;
    width: 400px;
    height: 200px;
    margin: auto;
}

#form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#email:valid {
    border-color: green;
}

#email:invalid {
    border-color: red;
}